$sky: #ceb4a7;
$snow: #a5a0ab;
$tree: #5f514f;
$background: #202124;
$calc-border: 2rem solid lighten($background, 8);
$calc-border-hover: 2rem solid $tree;

#calculator {
  display: flex;
  font-size: 4rem;
  min-width: 30vw;
  flex-direction: column;
  text-align: center;
  border: $calc-border;
  border-radius: 8%;
  animation: slideInFromTop 1s ease-in-out;

  #display-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-bottom: $calc-border;
    background-color: lighten($background, 0.9);
    padding: 5px 0;

    span {
      text-align: end;
      font-size: 2rem;
      opacity: 0.8;
      padding-right: 1rem;
    }
    #display {
      font-size: 4rem;
      text-align: end;
      padding-right: 1rem;
    }
  }
  #button-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    button {
      display: flex;
      flex: 1 0 21%;
      justify-content: center;
      background-color: $background;
      border: 0.5px solid black;
      padding: 7.5px 0;
      cursor: pointer;
      font-size: 3rem;
      color: white;
    }
    #zero {
      flex-grow: 7.8;
    }
    button:hover {
      background-color: lighten($background, 10);
    }
    .ops {
      flex-grow: 1.5;
      background-color: orange !important;
    }
    .ops:hover {
      background-color: lighten(orange, 10) !important;
    }
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
