$background: #202124;
$sky: #ceb4a7;
$snow: #a5a0ab;
$tree: #5f514f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
}
